@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
* {
  box-sizing: border-box;
  font-family: 'Lato', 'sans-serif';
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
body {
  max-width: 80em;
  margin: 0 auto;
  padding: 2em 0;
  @media screen and (min-width: 42em) {
    padding: 2em 1em;
  }
  line-height: 1.45;
  font-family: 'Lato', 'sans-serif';
}
h3 {
  font-family: 'Lato', 'sans-serif';
}

#mainBody {
  margin: 20px;
}
a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background-color: #b1cbbb;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
}
a.items {
  color: white;
}
#nav_st {
  right: 100px;
}
#nav_cp {
  right: 450px;
}
#nav_hm {
  left: 80px;
}

#one-product {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 400px;
  margin: 10px;
  text-align: center;
  font-family: arial;
}
.menu {
  width: 400px;
  height: 100px;
  list-style: none;
  list-style-type: none;
  overflow: hidden;
}

.menu_item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  margin: auto;
  text-align: center;
  font-family: arial;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.profile_option {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 650px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
#mainP {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
#mainP input {
  padding: 5px;
  font-size: 18px;
}
#secondP form {
  display: flex;
  flex-direction: column;
}
#secondP input {
  padding: 5px;
  font-size: 10px;
  width: 400px;
  font-family: 'Lato', 'sans-serif';
}
.button3 {
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Lato', 'sans-serif';
  text-transform: uppercase;
  font-weight: 300;
  color: #ffffff;
  background-color: #a5beaf;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}
.button3:active {
  color: #000000;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
#update {
  display: flex;
  justify-content: space-around;
}
.updateView {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 400px;

  margin: auto;
  text-align: center;
  font-family: arial;
}
.content {
  width: 200px;

  margin: auto;
  text-align: center;
  font-family: arial;
}
.field {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
}
.field:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
field.focussed input {
  padding: 24px 16px 8px 16px;
}
.field.focussed input + label {
  top: 4px;
  opacity: 1;
  color: #28cc70;
}
.field.locked {
  pointer-events: none;
}
.field input {
  width: 100%;
  height: 56px;
  position: relative;
  padding: 0px 16px;
  border: none;
  border-radius: 4px;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  color: #282828;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out,
    0.1s padding ease-in-out;
  -webkit-appearance: none;
}
.field input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input + label {
  position: absolute;
  top: 24px;
  left: 16px;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s all ease-in-out;
}
.field input + label.error {
  color: #ec392f;
}
.loginForm {
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}
.loginForm form {
  width: 380px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
}
.group {
  position: relative;
  margin-bottom: 45px;
}
.group input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: #fafafa;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}
.group input:focus {
  outline: none;
}
.group label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 0.2s ease;
}
input:focus ~ label,
input.used ~ label {
  top: -20px;
  transform: scale(0.75);
  left: -2px;
  /* font-size: 14px; */
  color: #4a89dc;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #4a89dc;
  transition: all 0.2s ease;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active */

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: #4a89dc;
  }
  to {
    width: 0;
    background: transparent;
  }
}
