@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto|Varela+Round);
* {
  box-sizing: border-box;
  font-family: 'Lato', 'Varela Round', 'sans-serif';
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
body {
  max-width: 80em;
  margin: 0 auto;
  padding: 2em 0;
  @media screen and (min-width: 42em) {
    padding: 2em 1em;
  }
  line-height: 1.45;
  font-family: 'Lato', 'sans-serif';
}
h3 {
  font-family: 'Lato', 'sans-serif';
}

#mainBody {
  margin: 20px;
}
a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background-color: #b1cbbb;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
}
a.items {
  color: white;
}
#nav_st {
  right: 100px;
}
#nav_cp {
  right: 450px;
}
#nav_hm {
  left: 80px;
}

#one-product {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 400px;
  margin: 10px;
  text-align: center;
  font-family: arial;
}
.menu {
  width: 400px;
  height: 100px;
  list-style: none;
  list-style-type: none;
  overflow: hidden;
}

.menu_item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  margin: auto;
  text-align: center;
  font-family: arial;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.profile_option {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 650px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
#mainP {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
#mainP input {
  padding: 5px;
  font-size: 18px;
}
#secondP form {
  display: flex;
  flex-direction: column;
}
#secondP input {
  padding: 5px;
  font-size: 10px;
  width: 400px;
  font-family: 'Lato', 'sans-serif';
}
.button3 {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}
.button3:active {
  color: #000000;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
#update {
  display: flex;
  justify-content: space-around;
}
.updateView {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 400px;

  margin: auto;
  text-align: center;
  font-family: arial;
}
.content {
  width: 200px;

  margin: auto;
  text-align: center;
  font-family: arial;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

.modal-login {
  margin: auto;
  text-align: center;
  font-family: arial;
  text-align: center;
  color: #636363;
  width: 350px;
  font-family: 'Varela Round', sans-serif;
  border-radius: 10px;
}
.modal-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.modal-login h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}

.modal-login .btn {
  color: #fff;
  border-radius: 6px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}

.modal-login .btn:hover,
.modal-login .btn:focus {
  background: #45aba6;
  outline: none;
}
.modal-login input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Varela Round', sans-serif;
  padding: 5px;
}
.modal-login .modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-signUp {
  width: 600px;
}
.modal-update {
  width: 500px;
  height: 650px;
}
.modal-password {
  width: 500px;
}
